h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
#pizza { 
  display: flex; 
  margin: auto;
 
  width: 100%;
}
#button {
position: relative;
background-color: brown;

text-align: right;
}
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 65%;
}
header ul {
margin-left: 12px;
margin-top: 2.6em;
float: right;
}
header ul li {
  display: inline;
}
hr {
  height: 15px;
  border-radius: 1px;
  color: black;
  background-color: black;
}
p {
  text-indent: 30px;
  margin-top: 30px;
}